UserManagement/Resources/UserServices.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="UserServices"
     targetNamespace="http://xmlns.oracle.com/UserManagementApplication/UserManagement/UserServices"
     xmlns:tns="http://xmlns.oracle.com/UserManagementApplication/UserManagement/UserServices"
     xmlns:inp1="http://usermanagement.com/userService"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="UserServices">
        <plnk:role name="UserServicesProvider" portType="tns:UserServices_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://usermanagement.com/userService" schemaLocation="../UserSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InsertUser_inputMessage">
        <wsdl:part name="request" element="inp1:user"/>
    </wsdl:message>
    <wsdl:message name="InsertUser_outputMessage">
        <wsdl:part name="reply" element="inp1:user"/>
    </wsdl:message>
    <wsdl:message name="DeleteUser_inputMessage">
        <wsdl:part name="request" element="inp1:id"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="UpdateUser_inputMessage">
        <wsdl:part name="request" element="inp1:user"/>
    </wsdl:message>
    <wsdl:message name="GetUser_inputMessage">
        <wsdl:part name="request" element="inp1:name"/>
    </wsdl:message>
    <wsdl:message name="GetUser_outputMessage">
        <wsdl:part name="reply" element="inp1:users"/>
    </wsdl:message>
    <wsdl:portType name="UserServices_ptt">
        <wsdl:operation name="InsertUser">
            <wsdl:input message="tns:InsertUser_inputMessage"/>
            <wsdl:output message="tns:InsertUser_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUser">
            <wsdl:input message="tns:DeleteUser_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUser">
            <wsdl:input message="tns:UpdateUser_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetUser">
            <wsdl:input message="tns:GetUser_inputMessage"/>
            <wsdl:output message="tns:GetUser_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServices_ptt-binding" type="tns:UserServices_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InsertUser">
            <soap:operation soapAction="InsertUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteUser">
            <soap:operation soapAction="DeleteUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateUser">
            <soap:operation soapAction="UpdateUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUser">
            <soap:operation soapAction="GetUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
